@model CoopJFK.Models.TIPO_BENEFICIARIO

@{
    ViewBag.Title = "Detalle Tipo de Beneficiario";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Detalle</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Sistema de Gestión de Crédito</a></li>
            <li>Catalogos</li>
            <li class="active">Tipo de Beneficiario</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div>
                    <h4>Tipo de Beneficiario</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Id
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ID)
                        </dd>
                        <dt>
                            @Html.DisplayName("Descripcián")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DESCRIPCION)
                        </dd>

                        <dt>
                            @Html.DisplayName("Usuario de Creación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUARIO_CREACION)
                        </dd>
                        <dt>
                            @Html.DisplayName("Fecha de Creación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECHA_CREACION)
                        </dd>


                        <dt>
                            @Html.DisplayName("Usuario de Modificación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.USUARIO_MODIFICACION)
                        </dd>
                        <dt>
                            @Html.DisplayName("Fecha de Modificación")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FECHA_CREACION)
                        </dd>


                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
                    @Html.ActionLink("Atrás", "Index")
                </p>

            </div>
        </div>
    </div>
</div>

                