@model IEnumerable<CoopJFK.Models.PRESTAMO_SOLICITUD>

@{
    ViewBag.Title = "Listado de Solicitudes de Préstamos";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="~/Views/Home/Index.cshtml">Sistema de Gestión de Crédito</a></li>
            <li class="active">Solicitudes de Préstamos</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <table class="table" id="jqueryTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("No Solicitud")
                        </th>
                        <th>
                            @Html.DisplayName("No Socio")
                        </th>
                        <th>
                            @Html.DisplayName("No Empleado")
                        </th>
                        <th>
                            @Html.DisplayName("Nombres y Apellidos")
                        </th>
                        <th>
                            @Html.DisplayName("Tipo de Préstamo")
                        </th>
                        <th>
                            @Html.DisplayName("Fecha de la Solicitud")
                        </th>
                        <th>
                            @Html.DisplayName("Estado")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SOCIO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PERSONA1.NO_EMPLEADO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PERSONA1.NOMBRES)
                        </td>
                        <td>
                            @{
                                if (item.TIPO_PRESTAMO == 1)
                                {<text>  Préstamo Regular  </text> }
                            else if (item.TIPO_PRESTAMO == 2)
                            { <text>  Préstamo Escolar  </text>}
                        else
                        {<text>  Préstamo Caja Rápida  </text>}
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FECHA_SOLICITUD)
                        </td>
                        <td>
                            @switch (item.ESTADO_PRESTAMO.ID)
                            {
                                case 1:
                                    @*<span class="badge badge-info">@Html.DisplayFor(modelItem => item.ESTADO_PRESTAMO.DESCRIPCION)</span>*@
                                    <p>
                                        <button type="button" class="btn btn-info btn-lg">
                                            <span class="glyphicon glyphicon-send"></span> @Html.DisplayFor(modelItem => item.ESTADO_PRESTAMO.DESCRIPCION)
                                        </button>
                                    </p>
                                    break;
                                case 2:
                                    <p>
                                        <button type="button" class="btn btn-primary btn-lg">
                                            <span class="glyphicon glyphicon-eye-open"></span> @Html.DisplayFor(modelItem => item.ESTADO_PRESTAMO.DESCRIPCION)
                                        </button>
                                    </p>
                                    break;
                                case 3:
                                    <p>
                                        <button type="button" class="btn btn-danger btn-lg">
                                            <span class="glyphicon glyphicon-remove-circle"></span> @Html.DisplayFor(modelItem => item.ESTADO_PRESTAMO.DESCRIPCION)
                                        </button>
                                    </p>
                                    break;
                                case 4:
                                    <p>
                                        <button type="button" class="btn btn-success btn-lg">
                                            <span class="glyphicon glyphicon-ok-circle"></span> @Html.DisplayFor(modelItem => item.ESTADO_PRESTAMO.DESCRIPCION)
                                        </button>
                                    </p>
                                    break;
                                case 5:
                                    <p>
                                        <button type="button" class="btn btn-secondary btn-lg">
                                            <span class="glyphicon glyphicon glyphicon-ban-circle"></span> @Html.DisplayFor(modelItem => item.ESTADO_PRESTAMO.DESCRIPCION)
                                        </button>
                                    </p>
                                    break;
                            }

                        </td>

                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayName("No Solicitud")
                        </th>
                        <th>
                            @Html.DisplayName("No Socio")
                        </th>
                        <th>
                            @Html.DisplayName("No Empleado")
                        </th>
                        <th>
                            @Html.DisplayName("Nombres y Apellidos")
                        </th>
                        <th>
                            @Html.DisplayName("Tipo de Préstamo")
                        </th>
                        <th>
                            @Html.DisplayName("Fecha de la Solicitud")
                        </th>
                        <th>
                            @Html.DisplayName("Estado")
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section scripts
                                {
    @GridTemplate.GridMVCTemplate("Prestamo_Solicitud")
}