@model CoopJFK.Models.MUNICIPIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MUNICIPIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MUNICIPIO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUNICIPIO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO1.DEPARTAMENTO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO1.DEPARTAMENTO1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
