@model CoopJFK.Models.PRESTAMO

@{
    ViewBag.Title = "Crear";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="~/Views/Home/Index.cshtml">Sistema de Gestión de Crédito</a></li>
            <li class="active">Préstamos</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            @using (Html.BeginForm())
            {
                
                <div class="form-horizontal">
                    <h4>Préstamos</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("No de Solicitud", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.Editor("Solicitud", new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

                            <span class="error">La solicitud es requerida</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("No de Solicitud", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("NoSolicitud", new { htmlAttributes = new { @class = "form-control", @placeholder = "Escriba el No de Solicitud" } })

                            <span class="error">La solicitud es requerida</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="submit" type="button" value="Guardar" style="padding:5px 15px" class="btn btn-info" />|  @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>


            <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

            @section scripts{
                <script src="~/Scripts/jquery-ui.js"></script>

                <script>

                    $(document).ready(function () {
                        /* Autocomplete , jquery UI */

                        $("#NoSolicitud").autocomplete({
                            dataType: 'JSON',
                            source: function (request, response) {
                                jQuery.ajax({
                                    url: "/Prestamos/BuscarSolicitud",
                                    type: "post",
                                    dataType: "json",
                                    data: {
                                        nombre: request.term
                                    },
                                    success: function (data) {
                                        response($.map(data, function (item) {
                                            return {
                                                id: item.Id,
                                                value: item.Name

                                            }
                                        }))
                                    }
                                })
                            },
                            select: function (e, ui) {
                                $("#Solicitud").val(ui.item.id);
                            }
                        })
                    })



                    $(document).ready(function () {
                        //Save button click function
                        $('#submit').click(function () {
                            //validation of order
                            var isAllValid = true;


                            if ($('#NoSolicitud').val().trim() == '') {
                                isAllValid = false;
                                $('#NoSolicitud').siblings('span.error').css('visibility', 'visible');
                            }
                            else {
                                $('#NoSolicitud').siblings('span.error').css('visibility', 'hidden');
                            }



                            if (isAllValid) {
                                var data = {
                                    Solicitud: $('#Solicitud').val().trim()


                                }
                                window.location.href = '/Prestamos/Formalizacion?solicitud=' + $('#Solicitud').val().trim();
                            }

                        });

                    });
                </script>
            }
            <style>
                /*Adding some css for looks good*/
                span.error {
                    display: block;
                    visibility: hidden;
                    color: red;
                    font-size: 90%;
                }


                /*css for table*/
                .container td {
                    vertical-align: top;
                }

                .tablecontainer table {
                    width: 80%;
                    border-collapse: collapse;
                    border-top: 1px solid #BFAEAE;
                    border-right: 1px solid #BFAEAE;
                    margin: auto;
                }

                .tablecontainer th {
                    border-bottom: 2px solid #BFAEAE !important;
                }

                .tablecontainer th, .tablecontainer td {
                    text-align: left;
                    border-left: 1px solid #BFAEAE;
                    padding: 5px;
                    border-bottom: 1px solid #BFAEAE;
                }

                .ui-widget {
                    font-size: 12px !important;
                }

                table.space {
                    border: 0px solid black;
                    border-spacing: 8px 2px;
                    border-collapse: separate;
                    margin: auto;
                }
            </style>
