@model CoopJFK.Models.TIPO_CAMBIO

@{
    ViewBag.Title = "Borrar Tipo de Cambio";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Sistema de Gestión de Crédito</a></li>
            <li>Administración</li>
            <li class="active">Tipo de Cambio</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3>Esta seguro de borrar esto?</h3>
            <div>
              
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FECHA)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FECHA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.COMPRA)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.COMPRA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.VENTA)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.VENTA)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                   

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-info" /> |
                    @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-primary" })
                </div>
                }
            </div>

        </div>
    </div>
</div>

            

           